.wrapper {
  width: 800px;
  height: 600px;
  position: relative;
  margin: 3% 15px;
  box-shadow: 2px 18px 70px 0 #9D9D9D;
  overflow: hidden;
  @media (max-width: 820px){
    width: 95vw;
  }
}

.formText {
  width: 800px;
  height:450px;
  background: linear-gradient(to left, #acbeff, #a2bbff);
  position: absolute;
  top: -300px;
  box-sizing: border-box;
  padding: 6%;
  transition: all 0.5s ease-in-out;
  z-index: 11;
  @media (max-width: 820px){
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.text {
  color: #fff;
  display: none;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.3s;
  margin: 0 auto;
  form{
    gap:10px;
    display: flex;
    padding: 25px;
    flex-direction: column;
    height: 400px;
    width: 400px;
    justify-content: center;
    margin: 0 auto;
    color: white;
    label{
      color: white;
    }
    input{
      padding: 5px 5px 0;
    }
    button{
      width: 100%;
      &.access{
        background-color: #007bff;
        color: white;
        tab-index: 99;
      }

    }
  }
  a, a:visited {
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
  }

  hr {
    width: 10%;
    float: left;
    background-color: #fff;
    font-size: 16px;
  }

}

.cta {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #007bff;
  font-size: 30px;
  border: 2px solid #fff;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 30px);
  color: #fff;
  outline: none;
  cursor: pointer;
  z-index: 11;

}

.callText {
  background-color: #fff;
  width: 800px;
  height: 450px;
  position: absolute;
  bottom: 0;
  padding: 10%;
  box-sizing: border-box;
  text-align: center;
  @media (max-width: 820px){
    width: 95vw;
  }
  h1 {
    font-size: 42px;
    margin-top: 10%;
    color: #696a86;

    span {
      color: #333;
      font-weight: bolder;

    }
  }


}

.show {
  display: block;

}
.arrowUp{
  transform: rotate(-90deg);
}
.arrowDown {
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand {
  transform: translateY(300px);
}
.logo {
  margin: 0 auto;
  display: block;
  top: 15%;
  position: absolute;
}
.tableAction{
  @media (max-width: 612px) {
    display: flex;
  }
}